:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-background: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --secondary-background: #2f303a;
  --grey-background: #f5f4fa;
  --icon-grey: #afb1b8;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container.head {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  padding-top: 80px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--title-text-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo--accent {
  color: var(--accent-color);
}

/* Site nav */

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  margin-left: 93px;
}

.link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__mail {
  color: var(--primary-text-color);
  display: inline-flex;
  align-items: center;
}

.navigation__mail--envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__phone {
  color: var(--primary-text-color);
  display: inline-flex;
  align-items: center;
}

.navigation__phone--smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link--current {
  position: relative;
  color: var(--accent-color);
}

.link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;

  background: var(--accent-color);
  border-radius: 2px;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button__close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  right: 8px;
  top: 8px;
  color: #000000;
  background-color: var(--white-color);
  border-radius: 50%;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
  transform: rotate(-180deg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__close:hover .icon-close,
.button__close:focus .icon-close {
  fill: var(--accent-color);
  transform: rotate(180deg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;

  text-align: center;
}

.section__title--no-title {
  margin-bottom: 0;
  font-size: 0;
}

.feature__section {
  padding-bottom: 0;
}

.feature__list {
  display: flex;
  justify-content: center;
}
.feature__block-title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.feature__item:last-child {
  margin-right: 0;
}
.feature__icon-block {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--button-background);
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
}

.examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.examples__item:last-child {
  margin-right: 0;
}

.examples__img {
  display: block;
  width: 100%;
}

.examples__title {
  position: relative;
}

.examples__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples__text {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team__section {
  background-color: var(--grey-background);
}

.list-center {
  display: flex;
  justify-content: center;
}

.team__item {
  width: calc((100% - 60px) / 3);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  background-color: var(--white-color);
}

.team__item:last-child {
  margin-right: 0;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__img {
  display: block;
  width: 100%;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social.list {
  display: flex;
  justify-content: center;
  height: 44px;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-grey);
  background-color: var(--white-color);
  border-radius: 50%;
}

.social-icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}

.card-title {
  padding-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-text {
  font-size: 16px;
  line-height: 2;
  color: var(--primary-text-color);
  text-decoration: none;
}

.button {
  display: inline-block;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  text-decoration: none;
  text-align: center;
}

.hero__button {
  display: flex;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:hover {
  background: #188ce8;
  cursor: pointer;
}

.clients.list {
  display: flex;
  justify-content: center;
}

.clients.item {
  width: calc((100% - 5 * 30px) / 6);
  margin-right: 30px;
}
.clients.item:last-child {
  margin-right: 0;
}
.clients-link {
  min-width: 170px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: var(--icon-grey);
  color: var(--icon-grey);
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-link:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.client-img {
  width: 170px;
  height: 90px;
}
.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:hover + .icon-check {
  border-color: var(--accent-color);
}

.checkbox:checked + .icon-check {
  width: 16px;
  height: 15px;
  background-image: url("../img/check.svg");
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: var(--button-background);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-nav.button:hover,
.portfolio-nav.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

.portfolio-but-item {
  margin-right: 8px;
}

.portfolio-but-item:last-child {
  margin-right: 0;
}

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio.item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-text.block {
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #eeeeee;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio.item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 30px;
}

.portfolio.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-img {
  display: block;
  width: 100%;
}

.portfolio.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-hidden {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  width: 370px;
  text-decoration: none;
}

.portfolio-text-position {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.text-comment {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-link:hover .portfolio-text-position,
.portfolio-link:focus .portfolio-text-position {
  opacity: 1;
  transform: translateY(0%);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.address-text {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-contact-list {
  margin-bottom: 9px;
}

.footer-contact-list:last-child {
  margin-bottom: 0;
}

.footer-link {
  display: inline-block;
  color: var(--footer-link-color);

  font-weight: 400;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.contacts-footer {
  margin-right: 70px;
}

.join-footer {
  margin-right: 93px;
}

.join-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

footer .social.list {
  display: flex;
}

footer .icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

footer .icon-social:hover,
.icon-social:focus {
  background-color: var(--accent-color);
}

footer .social-icon-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-form input {
  width: 358px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background);
  border-radius: 4px;
}
.subscribe-form input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form .button {
  display: flex;
  align-items: center;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  border: 0;

  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-form .button:hover,
.subscribe-form .button:focus {
  background: #188ce8;
  cursor: pointer;
}

.subscribe-icon-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;

  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  height: 120px;
  margin: 0;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.icon-form-field {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline-color: var(--accent-color);
}

.form-input:focus ~ .icon-form-field {
  fill: var(--accent-color);
}

.form-field textarea:focus {
  outline-color: var(--accent-color);
}

.foem {
  margin-bottom: 30px;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-field label {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.foem label {
  font-size: 14px;
  line-height: 1.71;
}

.foem a {
  color: var(--accent-color);
}

.modal .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .button:hover,
.modal .button:focus {
  background: #188ce8;
  cursor: pointer;
}
